<footer class="sticky bottom-0 p-2 bg-secondary">
  <div class="text-white gap-1 flex flex-row justify-center">
    <span class="font-bold">
      Les bons points
    </span>
    by
    <a href="https://github.com/spaenleh" class="underline">
      spaenleh
    </a> © {{new Date().getFullYear()}}
  </div>
</footer>
