<div class="form-control">
  <label for="{{ name }}" class="label">
    <span class="label-text">
      {{ label }}
    </span>
  </label>
  <input type="{{ type || "text" }}" name="{{ name }}" class="input input-bordered"/>
</div>
