<div class="hero min-h-full">
  <div class="hero-content flex-col lg:flex-row-reverse gap-10">

    <div class="text-center lg:text-left max-w-[65ch]">
      {{{ await $slots.text() }}}
    </div>

    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100 ">
      <form method="{{method}}" class="card-body">
        {{ csrfField() }}
        {{{ await $slots.form() }}}
      </form>
    </div>
  </div>
</div>
